<h1 class="header">Голосования</h1>
<ng-container *ngIf="stateService.loading">
  <h2 class="loading">Загрузка ... </h2>
</ng-container>

<ng-container *ngIf="stateService.category.length">
  <div class="filter-category">
    <h3 class="filter-header">Фильтр по категориям</h3>
    <app-filter-category
      [category]="stateService.category"
      [selectCategory]="selectCategory"
      [meta]="stateService.metaForCategory"
      (resetFilter)="resetFilter()"
      (filterCategory)="filterCategory($event)"
    ></app-filter-category>
  </div>
</ng-container>


<ng-container *ngIf="!stateService.loading">
  <app-cards [polls]="stateService.polls" [selectCategory]="selectCategory"></app-cards>
</ng-container>

