<h1 class="header">Голосования</h1>
<ng-container *ngIf="loading">
  <h2 class="loading">Загрузка ... </h2>
</ng-container>

<ng-container *ngIf="category.length">
  <div class="filter-category">
    <h3 class="filter-header">Фильтр по категориям</h3>
    <app-filter-category
      [category]="category"
      [selectCategory]="selectCategory"
      [meta]="meta"
      (resetFilter)="resetFilter()"
      (filterCategory)="filterCategory($event)"
    ></app-filter-category>
  </div>
</ng-container>


<ng-container *ngIf="!loading">
  <app-card [polls]="polls" [selectCategory]="selectCategory"></app-card>
</ng-container>
